.myNavBar {
    background-color: #ffffff;
    font-family: Montserrat;

}

/*
.navBarText {
    font-family: Montserrat;
}
*/

.jumbotron {
    text-align: center;
    font-family: Poiret+One; 
    background: none;
}

.nameSection {
    background-color: #e3ecfc;
    font-weight: 900;
}

.headers {
    font-family: Comfortaa;
    color:#242c3a;
    font-weight: 700;

}
.summary {
    font-family: Comfortaa;
    text-align: justify;
    margin-top: 1rem;
}

.coreCompetences {
    font-family: Comfortaa;
    text-align: justify;
    margin-top: 1rem;    
}

.corelist ul {
    list-style: none;
}

.experience {
    font-family: Comfortaa;
    text-align: justify;
    margin-top: 3rem;    
    
}

.education {
    font-family: Comfortaa;
    text-align: justify;
    margin-top: 3rem;    
    
}

.skills {
    font-family: Comfortaa;
    text-align: justify;
    margin-top: 3rem; 
}

.awards {
    font-family: Comfortaa;
    text-align: justify;
    margin-top: 3rem; 
}

.extra{
    font-family: Comfortaa;
    text-align: justify;
    margin-top: 3rem; 
}

.footer { 
    font-family: Comfortaa;
    text-align: left;
    margin-top: 3rem; 
    background-color: #e3ecfc;
    padding-top: 1rem;
    
}


.expColumns {
    margin-top: 1%;
}

.expButtons {
    color: #242c3a;
    background-color: #e3ecfc;
    font-weight: 400;
}

.logos {
    display: block;
    margin: auto;
}

.modalHeader {
    font-family: Comfortaa;
    font-weight: 700;
}

.modalContent {
    font-family: Comfortaa;
    text-align: justify;
}

.modalContent.h4.dates{
    text-align: left;
}

h5.dates{
    text-align: center
}

button.edubotton {
    display: block;
    margin: auto;
}

.eduLogos {
    margin-top: 3%;
}

.skillsContent {
    font-family: Comfortaa;
    text-align: justify;
}

.myCards{
    text-align: center;
}

.fa {
    padding-left: 10px;
    color: #ccc;
}

.fa-download {
    color:black;
}
.footer { 
    padding-bottom: 3%;
}